.main_background{
  background-color: #c71a3a;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
h3{
  text-align: center;
  font-family: Helvetica;
  font-size: 32px;
}
input{
  font-size: 26px;
  text-align: left;
  width: 100%;
  height: 100%;
}
.hello{
  width: 500px;
  height: 50px;
  margin: auto;
}
.app_title{
  text-align: left;
  font-family: Helvetica;
  font-size: 50px;
  font-weight: bold;
  color: white;
  padding-left: 250px;
}
.page_title{
  text-align: left;
  font-family: Helvetica;
  font-size: 50px;
  font-weight: bold;
  color: white;
  padding-left: 250px;
}
#login_btn{
  width: 200px;

  height: 50px;
  margin: auto;
  /*margin-left: 10%;/*/
  /*margin-top: 100*/
  padding-top: 50px;
  padding-bottom: 50px;
  /*padding: 50 20 30 50;*/
}
button{
  width: 100%;
  color: white;
  border-style: solid;
  background-color: #c71a3a;
  border-width: thin;
  border-color: white;
  border-radius: 5px;
  border-width: 5px;
  font-family: Helvetica;
  font-size: 32px;
}
.logo_div{
  height: 50px;
}
.logo_image{
  margin: 50px;
  height: 150px;
  width: auto;
}
.usernamePasswordLabel{
  text-align: center;
  font-family: Helvetica;
  font-size: 32px;
  color: white;

}
