<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html>
  <body class="main_background">
    <p class="page_title">MAIN</p>

    <!-- <listview [items]='currentSubs'>
      <ng-template let-item="item">
          <div>
            <h3>{{ item }}</h3>
          </div>
      </ng-template>
    </listview> -->

    <li *ngFor="let item of currentSubs">
      {{ item }}
    </li>



    <!-- <p class="usernamePasswordLabel">Username</p> -->
    <!-- <p id="username_tag">Username</p> -->
    <!-- <div class="hello"> -->
      <!-- <input (keyup)="onkeyupUsername($event)"> -->
    <!-- </div> -->
    <!-- <p>{{username}}</p> -->

    <!-- <p class="usernamePasswordLabel">Password</p> -->
    <!-- <div class="hello"> -->
      <!-- <input type="password" (keyup)="onkeyupPassword($event)"> -->
    <!-- </div> -->
    <!-- <p>{{password}}</p> -->

    <!-- <div id="login_btn"> -->
      <!-- <button (click)="attemptLogin()"> -->
        <!-- LOG IN -->
      <!-- </button> -->
    <!-- </div> -->
    <!-- <ul>
      <li>
        <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
      </li>
      <li>
        <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
      </li>
      <li>
        <h2><a target="_blank" href="https://blog.angular.io//">Angular blog</a></h2>
      </li>
    </ul> -->
  </body>

</html>
